<section class="about-us">
  <svg class="about-us-icon" aria-hidden="true">
    <use href="./img/sprite.svg#decoration"></use>
  </svg>
  <h2 class="about-us-heading">
    Meet Maria Kovalenko: Your Partner in Capturing Unforgettable Wedding
    Moments
  </h2>
  <p class="about-us-text">
    With years of experience in wedding photography, Maria specializes in
    capturing genuine emotions and beautiful moments. Her unique approach blends
    artistry with a personal touch, ensuring that each couple's story is told
    through stunning imagery.
  </p>
  <img class="about-us-photo" src="../img/about-us.jpg" alt="Wedding couple" />
</section>
