<section class="contacts">
  <div class="container contacts-container">
    <div class="contacts-info">
<h2 class="contacts-title">Let's Tell Your Story</h2>
<p class="contacts-text">
  I can't wait to hear more about your wedding! Tell me about your plans, and
  I'll be in touch to discuss how we can create magic together.
</p>
<ul class="contacts-list">
<li class="contacts-item">
  <a class="contacts-link" href="mailto:info@mariakovalenko.com">
    info@mariakovalenko.com
  </a>
</li>
<li class="contacts-item">
  <a class="contacts-link" href="tel:+405551234567">
    +40 (555) 123-4567
  </a>
</li>
<li class="contacts-item">
  <a
    class="contacts-link"
    href="https://www.google.com/maps/search/?api=1&query=Raschdorffstra%C3%9Fe+2-26%2C+13409+Berlin%2C+Germany"
    target="_blank"
    rel="noopener noreferrer"
  >
    Raschdorffstraße 2-26, 13409 Berlin, Germany
  </a>
</li>
</ul>
</div>
  </div>
</section>