<section class="faq" id="faq">
  <div class="container faq-container">
    <img class="faq-decoration" src="../img/decoration.svg" alt="" />
    <h2 class="faq-title">Frequently Asked Questions</h2>
    <p class="faq-text">
      Here I've gathered answers to the most popular questions to help you plan
      your perfect day. If you can't find the information you're looking for,
      please get in touch!
    </p>

    <ul class="faq-list">
      <li class="faq-item">
        <button class="faq-question" type="button" aria-expanded="false">
          <span class="faq-question-text">
            How do we book our date and how far in advance should we do it?
          </span>
          <svg class="faq-icon" width="24" height="24" aria-hidden="true">
            <use href="../img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <div class="faq-answer">
          <div class="faq-answer-inner">
            <p class="faq-answer-text">
              It's best to book your date 6-12 months in advance, especially if
              your wedding is during the popular season. To book your date,
              simply write to me through the contact form. We'll arrange a
              meeting, discuss all the details, sign a contract, and after the
              retainer is paid, your date will be officially reserved for you.
            </p>
          </div>
        </div>
      </li>

      <li class="faq-item">
        <button class="faq-question" type="button" aria-expanded="false">
          <span class="faq-question-text">
            We don't know how to pose and feel awkward in front of the camera.
            Do you help with that?
          </span>
          <svg class="faq-icon" width="24" height="24" aria-hidden="true">
            <use href="../img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <div class="faq-answer">
          <div class="faq-answer-inner">
            <p class="faq-answer-text">
              Of course, and that's completely normal! My main goal is to create
              a comfortable and relaxed atmosphere for you. I don't force you
              into unnatural poses. Instead, I provide gentle guidance and
              direction to capture your real emotions, smiles, and tender
              glances. The most important thing is for you to be yourselves, and
              I'll take care of the rest.
            </p>
          </div>
        </div>
      </li>

      <li class="faq-item">
        <button class="faq-question" type="button" aria-expanded="false">
          <span class="faq-question-text">
            When will we receive our photos and how many will there be?
          </span>
          <svg class="faq-icon" width="24" height="24" aria-hidden="true">
            <use href="../img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <div class="faq-answer">
          <div class="faq-answer-inner">
            <p class="faq-answer-text">
              I understand how excited you are to see the results! You will
              receive a small preview of the best photos (10-15 images) within
              the first week after your wedding. The complete gallery of photos
              will be delivered via a personal online gallery within 4-8 weeks.
              For a full wedding day, you will receive 500+ carefully edited
              images.
            </p>
          </div>
        </div>
      </li>

      <li class="faq-item">
        <button class="faq-question" type="button" aria-expanded="false">
          <span class="faq-question-text">
            What is typically included in your wedding packages?
          </span>
          <svg class="faq-icon" width="24" height="24" aria-hidden="true">
            <use href="../img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <div class="faq-answer">
          <div class="faq-answer-inner">
            <p class="faq-answer-text">
              Each package includes my services for the agreed-upon time, a
              detailed pre-wedding consultation, meticulous editing of all
              photos, and access to a private online gallery where you can
              download your images in high resolution. For detailed information
              on all packages and pricing, please get in touch with me.
            </p>
          </div>
        </div>
      </li>

      <li class="faq-item">
        <button class="faq-question" type="button" aria-expanded="false">
          <span class="faq-question-text">
            Do you travel for weddings outside of Berlin?
          </span>
          <svg class="faq-icon" width="24" height="24" aria-hidden="true">
            <use href="../img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <div class="faq-answer">
          <div class="faq-answer-inner">
            <p class="faq-answer-text">
              Yes, absolutely! I love to travel and discover new beautiful
              locations for photoshoots. I would be happy to travel to any city
              in Ukraine or even abroad to be a part of your celebration. Travel
              terms and costs are discussed individually.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
