<section class="feedbacks" id="feedbacks">
  <div class="container">
    <div class="feedbacks-header">
      <svg class="decoration" aria-hidden="true">
        <use href="./img/sprite.svg#decoration"></use>
      </svg>

      <h2 class="feedbacks-title">Words from Our Wonderful Couples</h2>

      <p class="feedbacks-description">
        Read what the couples who entrusted us with their most precious memories
        have to say.
      </p>
    </div>

    <div class="feedbacks-swiper swiper">
      <ul class="feedbacks-list swiper-wrapper"></ul>
    </div>

    <div class="feedbacks-controls">
      <div class="feedbacks-pagination"></div>

      <div class="feedbacks-navigation">
        <button
          class="feedbacks-button feedbacks-button-prev"
          type="button"
          aria-label="Previous review"
        >
          <svg class="feedbacks-button-icon" width="24" height="24" aria-hidden="true">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>

        <button
          class="feedbacks-button feedbacks-button-next"
          type="button"
          aria-label="Next review"
        >
          <svg class="feedbacks-button-icon" width="24" height="24" aria-hidden="true">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>