<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="portfolio__header">
      <svg aria-hidden="true" class="decoration">
        <use href="./img/sprite.svg#decoration"></use>
      </svg>
      <h2 class="portfolio__title">Portfolio Highlights</h2>
    </div>
    <ul class="portfolio__categories"></ul>
    <ul class="portfolio__gallery"></ul>
    <span id="loader" class="loader"></span>
    <div id="loaderText"></div>
    <button id="load-more-btn" class="accent-button portfoilio__btn">
      Show more
    </button>
  </div>
</section>
