<section class="backdrop is-hidden" data-modal>
  <div class="modal">
    <h2 class="modal__header">Thank You for Your Inquiry!</h2>
    <button type="button" class="close-btn" data-modal-close>
      <svg width="18" height="18" class="close-btn__icon">
        <use href="../img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <img
      src="../img/working-table.png"
      class="modal__img"
      alt="An elegant and styled flat lay composition for a wedding photographer's"
      width="295"
      height="207"
    />
    <p class="modal__text">
      I have received your message and I'm so excited about your interest! I
      will get in touch with you within 24-48 hours to discuss the details of
      your wedding day. In the meantime, feel free to browse my portfolio or
      follow me on Instagram for more inspiration.
    </p>
  </div>
</section>
