.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin-inline: auto;
  padding: 64px 32px;
}

.about-us-icon {
  width: 300px;
  height: 20px;
  fill: currentColor;
  color: #000000;
  margin-bottom: 24px;
}

.about-us-heading {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
}

.about-us-text {
  margin-bottom: 40px;
  text-align: center;
}

.about-us-photo {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 24px;
}

/* tablet */
@media (min-width: 375px) {
  .about-us {
    max-width: 768px;
    padding: 64px 32px;
  }
}

/* desktop */
@media (min-width: 768px) {
  .about-us {
    max-width: 1440px;
    padding: 92px 64px;
  }
}
