:root {
  /* Кольори */
  --color-bg: #ffffff;
  --color-surface: #fbf9f1;
  --color-text: #000000;
  --color-white: #ffffff;
  --color-accent: #b09a0c;
  --color-btn: #dcc110;
  --color-btn-active: #e6d357;
  --color-hover-bg: rgba(0, 0, 0, 0.15);
  --color-error: #c40000;

  /* Шрифти */
  --font-main: 'Mulish', sans-serif;
  --font-display: 'Cormorant', serif;

  /* Інше */
  --radius: 6px;
  --transition: 250ms ease;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  font-family: Mulish;
  letter-spacing: 0%;
}

h2 {
  font-family: var(--font-display);
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;
}

body.no-scroll {
  overflow: hidden;
}
